@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hola Mundo de Prueba Controller pepa </h1>
<p style="font-weight:bold;"> @ViewData["resultado"]</p>