@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["Prueba"]</p>
    <p>@ViewData["Test"]</p>
    <hr />
    <p>@localizer["Literal1"]</p
      <p>@localizer["Literal2"]</p>
</div>
